#top{
    padding: 20px;
    background-color: rgb(214, 206, 168);
}
img {
    border-radius: 50%;
}
#Menu{
    height: 80px;
    width: 100px;
    margin:auto
    text-align: left;
    padding: 5%;
    background color
}
head {
    text-align: left;
}
body {
    text-align: center;
    background-color: rgb(255, 255, 255);
    font-family:'Times New Roman', Times, serif;
}

p {font-family:'Times New Roman', Times, serif;}

h1 {
    color:rgb(252, 252, 252);
    font-family:cursive
}

h2 {
    color:rgb(253, 229, 18)
}

h3 {
    font-family:'Times New Roman', Times, serif;
    color: rgb(10, 10, 10);
}

h5 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(10, 10, 10);

}
.parent {
    text-align:center
}
.parent > ul {
    display:inline-block;
}